/* Default row background is black */
.table-row-cell {
    -fx-background-color: black;
}

/* Text in the rows will be white */
.table-row-cell .text {
       -fx-fill: white ;
}

.table-row-cell:select-star {
    -fx-background-color: green;
}

.table-row-cell:select-o {
    -fx-background-color: goldenrod;
}

.table-row-cell:select-plus {
    -fx-background-color: darkgoldenrod;
}

.table-row-cell:select-minus {
    -fx-background-color: orangered;
}

.table-row-cell:select-e {
    -fx-background-color: red;
}

.table-row-cell:select-x {
    -fx-background-color: red;
}

.table-row-cell:select-hash {
    -fx-background-color: darkred;
}

.table-row-cell:select-space {
    -fx-background-color: darkgray;
}
